#mainbody{
    margin: 0px;
}

#map{
    height:100vh;
    width: calc(100%-400px);
} 

#controlDiv{
    width: 400px;
    height: 100vh;
    background-color: white;
    float: left;  
    text-align: center;
}

#eingabe{
    height: 50px;
    width: 100%;
    background-color: white;
    margin-top: 20px;
}

.switch2{
    margin-top: 10px;
}